In [1]:
import pandas as pd
import united_states

In [2]:
w2 =  pd.read_csv('data/weather_radar_stations.csv')
# Change names to something that can just be readily used by the module.
w2.rename(columns={'y': 'lat','x':'lon'}, inplace=True)

#Lat = Y Long = X

In [3]:
w2.tail()

,lon,lat,objectid,siteid,sitename,radartype,antennaelevation
196,-66.179,18.474,197,TSJU,San Juan,TDWR,157
197,-111.930,40.967,198,TSLC,Salt Lake City,TDWR,4295
198,-90.489,38.805,199,TSTL,St. Louis,TDWR,647
199,-82.518,27.860,200,TTPA,Tampa Bay,TDWR,93
200,-95.827,36.071,201,TTUL,Tulsa,TDWR,823

In [4]:
w2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   lon               201 non-null    float64
 1   lat               201 non-null    float64
 2   objectid          201 non-null    int64
 3   siteid            201 non-null    object
 4   sitename          201 non-null    object
 5   radartype         201 non-null    object
 6   antennaelevation  201 non-null    object
dtypes: float64(2), int64(1), object(4)
memory usage: 11.1+ KB

In [5]:
w2.head(5)

,lon,lat,objectid,siteid,sitename,radartype,antennaelevation
0,-98.413046,45.455833,1,KABR,ABERDEEN,NEXRAD,Unknown
1,-106.823880,35.149722,2,KABX,ALBUQUERQUE,NEXRAD,Unknown
2,-77.007491,36.983889,3,KAKQ,NORFOLK,NEXRAD,Unknown
3,-101.709269,35.233333,4,KAMA,AMARILLO,NEXRAD,Unknown
4,-80.413048,25.610556,5,KAMX,MIAMI,NEXRAD,Unknown

In [6]:
# Create a US
us = united_states.UnitedStates()
# Need a states list to check in 
states_list =  [i.name for i in us.states]
count = 0
def assign_states(lat,lon):
    global count
    returnVal = us.from_coords(lat,lon)
    count += 1
    if not count %500:
        print("Count at {}".format(count))
    if  not len(returnVal) > 0:
        return "NA"
    return returnVal[0].name

In [7]:
%%time
w2['state'] = w2.apply(lambda row: assign_states(row.lat,row.lon),axis=1)

CPU times: user 13.2 s, sys: 0 ns, total: 13.2 s
Wall time: 13.2 s

In [8]:
w2.to_csv('data/weather_radar_stations_state.csv',index=False)

In [9]:
w2.sample(10)

,lon,lat,objectid,siteid,sitename,radartype,antennaelevation,state
140,-87.724519,38.260250,141,KVWX,"EVANSVILLE, IN (NON-NEXRAD)",NEXRAD,Unknown,Indiana
91,-102.189242,31.943461,92,KMAF,MIDLAND/ODESSA,NEXRAD,Unknown,Texas
44,-114.891381,35.701111,45,KESX,LAS VEGAS,NEXRAD,Unknown,Nevada
157,-84.262000,33.647000,158,TATL,Atlanta,TDWR,1075,Georgia
63,-88.329186,33.896917,64,KGWX,COLUMBUS AFB,NEXRAD,Unknown,Mississippi
5,-84.719523,44.906350,6,KAPX,NCL MICHIGAN,NEXRAD,Unknown,Michigan
131,-97.277753,35.333056,132,KTLX,NORMAN,NEXRAD,Unknown,Oklahoma
49,-98.976659,34.362194,50,KFDR,ALTUS AFB,NEXRAD,Unknown,Oklahoma
134,-102.829990,44.124722,135,KUDX,RAPID CITY,NEXRAD,Unknown,South Dakota
23,-81.042186,32.655528,24,KCLX,"CHARLESTON, SC",NEXRAD,Unknown,South Carolina

In [10]:
def assign_color(row):
    if row['radartype'] == 'NEXRAD':
        return '#FF0000'
    return '#0000FF'

In [11]:
w2['color'] = w2.apply(lambda row: assign_color(row),axis=1)